<div class="container" style="padding-top: 50px;">

    <h1 style="text-align:center;">Welcome to the Give.Kindly Block Explorer!</h1>

    <h4 style="text-align:center; margin-top: 30px;">
      <a href="/#/block/{{blockNum}}">Latest Block: {{blockNum}}</a>
    </h4>

    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
      <tbody>
	<tr>
	  <th>Block #</th>
	  <th>Tx #</th>
 	  <th>Size</th>
	  <th>Timestamp</th>
	</tr>
	<tr data-ng-repeat="i in blocks">
	  <td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
	  <td>{{i.transactions.length}}</td>
	  <td>{{i.size}}</td>
	  <td>{{i.timestamp}}</td>
        </tr>

      </tbody>
    </table>

</div>
